@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>En savoir plus sur <a href="https://learn.microsoft.com/aspnet/core">la création d’applications Web avec ASP.NET Core.</a>.</p>
</div>
